
{{#each symptoms}}
    <div class="show-symptom">
  {{this.title}}
  <td class="symptom-title">{{this.title}}</td>
  <td class="symptom-url"><a target="_blank" href="{{this.url}}">Click Me</a>
  {{this.url}}</td>
  <td><button type="button"  class="btn btn-primary edit-symptom" data-symptom-id="{{id}}" data-toggle="modal" data-target="#NOTedit-symptom-modal">Update</button></td>
  <td><button type="button"  class="btn btn-danger delete-symptom" data-symptom-id="{{id}}" data-toggle="modal" data-target="#delete-symptom-modal">Delete</button></td>
    </div>
</tr>
{{/each}}

  {{#each symptomUrl}}
    <h1>{{this}}</h1>
  {{/each}}
